@charset "UTF-8";
/*

Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --negro: #111;
  --gris-claro: #f5f5f5;
  --gris-oscuro: #949191;
  --tipo-principal: Helvetica, Arial, sans-serif;
}

.header__sup {
  padding: 0.4rem;
  background-color: var(--gris-claro);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__sup ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header__sup {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .header__sup {
    display: none;
  }
}

.sup__li {
  font-size: 0.8em;
  color: var(--negro);
  border-right: 0.5px solid var(--negro);
}
.sup__li:hover {
  color: var(--gris-oscuro);
}

.sup__a {
  margin: 0 1rem;
}

.header__nav {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__ul .nav__li--li {
  color: var(--negro);
  padding: 0.8rem;
  font-size: 1em;
  line-height: 1.5;
  border-bottom: 2px solid transparent;
  transition: border-color 0.1s linear;
}
.nav__ul .nav__li--li:hover {
  border-color: var(--negro);
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .nav__ul {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .nav__ul {
    display: none;
  }
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris-claro);
  padding: 0.4rem;
  border-radius: 50px;
}
.form__container svg {
  margin-right: 0.8rem;
}
.form__container:hover {
  background-color: #e7e1e1;
}
@media screen and (max-width: 600px) {
  .form__container {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .form__container {
    display: none;
  }
}

.form__input {
  background-color: var(--gris-claro);
  padding: 0.5rem;
  border-radius: 50px;
  color: #757575;
}
.form__input:hover {
  background-color: #e7e1e1;
}

.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.search__icons svg {
  margin-right: 0.8rem;
  border-radius: 50%;
}
.search__icons svg:hover {
  background-color: var(--gris-claro);
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .search__icons {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .search__icons {
    display: none;
  }
}

.header__mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .header__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__mobile svg {
    margin-right: 1rem;
  }
  .header__mobile svg:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 960px) {
  .header__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__mobile svg {
    margin-right: 1rem;
  }
  .header__mobile svg:hover {
    cursor: pointer;
  }
}

.header_inf {
  background-color: var(--gris-claro);
  color: var(--negro);
  padding: 0.5rem;
  text-align: center;
}
.header_inf p {
  font-size: 0.8em;
}

:root {
  --negro: #111;
  --gris-claro: #f5f5f5;
  --gris-oscuro: #949191;
  --tipo-principal: Helvetica, Arial, sans-serif;
}

.desenfoque > :not(.open-sidebar, .sidebar) {
  filter: blur(3px);
}

.sidebar {
  background-color: white;
  position: absolute;
  width: 0;
  overflow: hidden;
  right: 0;
  top: 5em;
  transition: width 0.3s ease;
  z-index: 2;
}
.sidebar .lead {
  font-size: 1.3em;
}

.open-sidebar {
  display: grid;
  grid-template-columns: 10em 10em;
  grid-template-rows: 3em 3em 3em 3em 3em;
  width: 250px;
  padding: 2em;
}
.open-sidebar .sidebar__text {
  margin-top: 5em;
}
.open-sidebar .sidebar__text .sidebar__p {
  color: var(--gris-oscuro);
  margin: 0 0 2em 0;
}
.open-sidebar .sidebar__text .sidebar__p span {
  color: var(--negro);
}
.open-sidebar .sidebar__text .sidebar__btn--first {
  background-color: var(--negro);
  margin: 0 0 1em 0;
  color: white;
}
.open-sidebar .sidebar__text .sidebar__btn--sec {
  border: 1px solid var(--gris-oscuro);
}

.btn {
  border-radius: 50px;
  padding: 0.6rem;
  min-width: 7rem;
}

.section__container {
  width: 90%;
  margin: auto;
}
.section__container .banner__responsive--img {
  display: none;
}
.section__container .section--titular {
  text-align: start;
  font-size: 1.5em;
  padding: 1em 0;
}
.section__container .section--img {
  position: relative;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}
.section__container .section--img .section--btn {
  width: 100%;
  position: absolute;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  top: 92%;
  left: 5%;
}
.section__container .section--img .section--btn .btn {
  background-color: white;
  max-width: 8em;
}
.section__container .section--img .section--btn .btn:hover {
  background-color: var(--gris-oscuro);
  cursor: pointer;
}
.section__container .text__container {
  min-height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  word-wrap: break-word;
  text-align: center;
}
.section__container .text__container--h2 {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: -0.1em;
}
@media screen and (max-width: 960px) {
  .section__container .text__container--h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 600px) {
  .section__container .text__container--h2 {
    font-size: 2.3em;
  }
}
.section__container .text__container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width: 600px) {
  .section__container .text__container .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1;
  }
  .section__container .text__container .btn-container .btn {
    width: 15em;
  }
}
.section__container .text__container--btn {
  background-color: var(--negro);
  color: white;
}
.section__container .text__container--btn:hover {
  background-color: var(--gris-oscuro);
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .section__container .text__container {
    text-align: start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .section__container .text__container {
    text-align: start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .section__container .section__titular {
    text-align: start;
  }
}
@media screen and (max-width: 960px) {
  .section__container .banner__responsive--img {
    display: block;
  }
  .section__container .banner__bg {
    display: none;
  }
}

.carousel {
  margin: 4em 0;
}
.carousel .carousel__container {
  padding: 2em 1em;
  overflow: hidden;
}

.carousel__img {
  margin-right: 1em;
}
.carousel__img:hover {
  cursor: pointer;
}
.carousel__img .img {
  max-height: 500px;
}
.carousel__img .carousel__text {
  display: grid;
  grid-template-columns: 3em, 3em;
  grid-template-rows: 3em, 3em;
  margin-top: 1em;
  padding: 0 1em;
}
.carousel__img .carousel__text .carousel__text--p {
  color: var(--gris-oscuro);
  grid-column: 1;
}
.carousel__img .carousel__text .carousel__text--price {
  text-align: end;
  grid-column: 2;
}

.btn__container {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__container p {
  font-size: 1.5em;
  margin-left: 1em;
}

.btn__container--icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__container--icons .btn-prev, .btn__container--icons .btn-next, .btn__container--icons .btn-prev--sec, .btn__container--icons .btn-next--sec {
  background-color: #e5e5e5;
  border-radius: 50%;
  margin-right: 0.8em;
  opacity: 50%;
  cursor: pointer;
}
.btn__container--icons .btn-prev:hover, .btn__container--icons .btn-next:hover, .btn__container--icons .btn-prev--sec:hover, .btn__container--icons .btn-next--sec:hover {
  opacity: 100%;
}

.section__container .section__titular {
  font-size: 1.5em;
  padding: 1em 0;
}
@media screen and (max-width: 600px) {
  .section__container .section__titular {
    text-align: center;
    font-size: 1.4em;
  }
}

.section__img {
  display: grid;
  gap: 0.8em;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
@media screen and (max-width: 600px) {
  .section__img {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5em;
  }
}

.section__data {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section__data .section__data--div {
  align-self: end;
  padding: 3em;
}
.section__data p {
  color: white;
  margin-bottom: 2em;
}
.section__data .btn {
  background-color: white;
}
.section__data .btn:hover {
  background-color: var(--gris-oscuro);
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .section__data {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.carousel__container--second {
  padding: 2em 1em;
  overflow: hidden;
}

.section__last-menu {
  margin-top: 2em;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.section__last-menu p {
  margin-top: 1.5em;
  line-height: 1em;
  color: var(--gris-oscuro);
}
.section__last-menu p:hover {
  color: var(--negro);
  cursor: pointer;
}
.section__last-menu .hidden-content {
  height: 0;
  overflow: hidden;
}
.section__last-menu:hover .hidden-content {
  overflow: visible;
  height: 15em;
}
@media screen and (max-width: 600px) {
  .section__last-menu {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .section__last-menu .menu__div h3:hover {
    cursor: pointer;
  }
  .section__last-menu .menu__content {
    height: 0;
    padding: 0em;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .section__last-menu .activo .menu__content {
    height: 100%;
  }
}

.carousel__img .btn {
  background-color: black;
  color: white;
  margin: 1em 0;
}
.carousel__img .btn:hover {
  background-color: var(--gris-oscuro);
  cursor: pointer;
}

.footer {
  background-color: white;
  padding: 3em 0;
}

.footer__container {
  background-color: var(--negro);
  padding: 2em;
}

.footer__ul--container {
  font-size: 0.7em;
  line-height: 2.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
@media screen and (max-width: 600px) {
  .footer__ul--container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__ul--container .content {
    height: 0;
    padding: 0em;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .footer__ul--container .active .content {
    height: 100%;
  }
}

.colum {
  color: var(--gris-oscuro);
}
.colum li:hover {
  color: white;
  cursor: pointer;
}
.colum > :first-child {
  color: white;
}
@media screen and (max-width: 600px) {
  .colum > :first-child {
    border-top: 0.5px solid var(--gris-oscuro);
  }
}

.first__colum {
  color: white;
}
.first__colum:hover {
  cursor: pointer;
}

.small__colum {
  color: var(--gris-oscuro);
  padding: 2em;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2em;
  font-size: small;
}
@media screen and (max-width: 600px) {
  .small__colum {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
